@font-face {
    font-family: 'Roboto';
    src:url('fonts/Roboto/Roboto-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:'Exo2';
	src:url('fonts/Exo_2/Exo2-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:'Exo2';
	src:url('fonts/Exo_2/Exo2-SemiBold.ttf');
	font-weight: bold;
    font-style: normal;
}
body{
    font-family: 'Roboto', 'Arial', sans ;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,nav li{
    font-family: 'Exo2', 'Arial', sans;
    text-transform: uppercase;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
@media (min-width: 1200px) {
  .container {
	width: 1170px;
    max-width: 100%;
  }
}
#page {
    width:1350px;
}
.sidebar{
    width: 216px;
    position: absolute;
    border-right:1px solid #a7a7a7;
    background-color: #f3f3f3;
    z-index: 1;
}
.sidebar nav {
    width: 155px;
    padding-top: 58px;
    position: fixed;
}
.sidebar .desc{
    margin-top: 16px;
}
.sidebar .nav {
    margin-top: 23px;
}
.sidebar .nav-item{
    border-bottom:1px solid #a7a7a7;
}
.sidebar .nav-link{
    padding: 1em;
}
section.header{
    background-color: #eaebed;
    background-image: url('img/header-bg.jpg');
    background-position: right;
    background-repeat: no-repeat;
/*    padding: 110px 0;*/
}
.header .photo{
    text-align: center;
}
.header .content{
    padding:95px 0;
}
.accent-color{
    color:#3971ff;
}
.header .content h1{
    font-size: 30pt;
}
.main section{
    padding:100px 0;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right;
}
.main section:nth-child(even){
    background-color: #f3f3f3;
}
.section-7{
    height: 693px;
    background-image: url(img/Layer-22.png);
}
