@font-face {
    font-family: 'Roboto';
    src:url('fonts/Roboto/Roboto-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src:url('fonts/Roboto/Roboto-Light.ttf');
	font-weight: 100;
    font-style: normal;
}
@font-face {
	font-family:'Exo2';
	src:url('fonts/Exo_2/Exo2-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:'Exo2';
	src:url('fonts/Exo_2/Exo2-SemiBold.ttf');
	font-weight: bold;
    font-style: normal;
}
body{
    font-family: 'Roboto', 'Arial', sans ;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,nav li{
    font-family: 'Exo2', 'Arial', sans;
    text-transform: uppercase;
}
a {color: #3971ff;}
.accent-color{
    color:#3971ff;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
@media (min-width: 1200px) {
  .container {
	width: 1170px;
    max-width: 100%;
  }
}
#page {
    width:1350px;
}
/*==========sidebar============*/
.sidebar{
    width: 216px;
    position: absolute;
    border-right:1px solid #a7a7a7;
    background-color: #f3f3f3;
    z-index: 1;
}
.sidebar nav {
    width: 155px;
    padding-top: 58px;
    position: fixed;
}
.sidebar .desc{
    margin-top: 16px;
    font-weight: 100;
}
.sidebar .nav {
    margin-top: 23px;
}
.sidebar .nav-item{
    border-bottom:1px solid #a7a7a7;
}
.sidebar .nav-link{
    color:#a7a7a7;
    padding: 1em 0.4em;
}
.sidebar .nav-link:hover{
    color:inherit;
    padding: 1em 0.4em;
}
.sidebar .active .nav-link{
    color:inherit;
}
.sidebar .nav-link::before{
    display: inline-block;
    content: '-';
    font-family: 'Exo2';
    font-weight: bold;
    color:#adbdf9;
    transform: scale(2.5, 1);
    margin-right:0.5em;
    transition: all 0.3s ease 0.1s;
}
.sidebar .nav-link:hover::before, .sidebar .active .nav-link::before{
    display: inline-block;
    content: '-';
    color:#7b9afc;
    transform: scale(5, 1);
    margin-right:1em;
    margin-left: 0.3em;
}
/*==========end sidebar============*/
/*=============header==============*/
section.header{
    background-color: #eaebed;
    background-image: url('img/header-bg.jpg');
    background-position: right;
    background-repeat: no-repeat;
/*    padding: 110px 0;*/
}
.header img.photo{}
.header .content{
    padding: 102px 0 118px 0;
}
.header .content h1{
    font-size: 3em;
}
.header .content h1 small{
    display: block;
    letter-spacing: -1px;
    font-size: 66%;
}
.header .content .profession{
    display: inline-block;
    line-height: 40px;
    height: 40px;
    margin-top: 10px;
    letter-spacing: 2px;
    padding: 0 19px;
    border-top: 1px solid #4c4c4c;
    border-bottom: 1px solid #4c4c4c;
    text-transform: uppercase;


}
.header .content p.desc{
    margin-top: 42px;
    line-height: 30px;
    letter-spacing: 0.1pt;
}
.header .bottom{
    margin-top: 37px;
}
.header .link-btn{
    text-transform: uppercase;
}
.link-btn{
    position: relative;
    margin-right: 92px;
    color: inherit;
}
.link-btn::after{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -12px;
    width: 50px;
    background-color: #3971ff;
    height: 2px;
    transition: all 0.3s ease 0.1s;
}
.link-btn:hover, .link-btn.active{
    text-decoration: none;
    color:#3971ff;
}
.link-btn:hover::after, .link-btn.active::after{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 150px;
    background-color: #3971ff;
    height: 2px;
}
/*=============end header==============*/
/*================MAIN=================*/
.main section{
    padding:100px 0;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right;
}
.main section:nth-child(even){
    background-color: #f3f3f3;
}
.section-7{
    height: 693px;
    background-image: url(img/Layer-22.png);
}
